.container,
.content,
.image {
    min-height: 666px;
    position: relative;
}

.container {
    display: flex;
    background-color: #283149;
    justify-content: space-between;
}

.image {
    width: 60%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px;
    margin-left: auto;
}

.content h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #DBEDF3;
    font-size: 88px;
    font-family: 'Bebas Neue', cursive;
}

.content h2 {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}



.content h2{
    color: #DBEDF3;
}